[submodule "container-storage-mgmt-api-ocr-python"]
	path = container-storage-mgmt-api-ocr-python
	url = ../container-storage-mgmt-api-ocr-python
[submodule "container-storage-mgmt-api-ocr-node"]
	path = container-storage-mgmt-api-ocr-node
	url = ../container-storage-mgmt-api-ocr-node
